<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-4">
        <form th:action="@{'/employees?'}">
            <div class="form-group mb-2">
                <label for="searchInput" class="sr-only">Search:</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search"
                       th:value="${search}"
                       name="search">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
    <h1>Employee List</h1>
    <a class="btn btn-primary mb-3" href="/employees/create">Create Employee</a>
    <table class="table">
        <thead>
        <tr>
            <th onclick="onSort('id')">ID</th>
            <th onclick="onSort('name')">Name</th>
            <th onclick="onSort('email')">Email</th>
            <th onclick="onSort('dob')">Date of Birth</th>
            <th onclick="onSort('gender')">Gender</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.dob}"></td>
            <td th:text="${employee.gender}"></td>
            <td>
                <a class="btn btn-info btn-sm" th:href="@{'/employees/' + ${employee.id}}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{'/employees/delete/' + ${employee.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <th:block th:if="${employees.getTotalPages() >= 2 }">
                <li class="page-item" th:class="${employees.isFirst()} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:id="${employees.number - 1}"
                       onclick="onPageChange(this)"
                      >Previous</a>
                </li>
            </th:block>
            <li th:each="pageNumber : ${#numbers.sequence(0, employees.getTotalPages() - 1)}"
                th:class="${pageNumber == employees.number} ? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:id="${pageNumber}"
                   onclick="onPageChange(this)"
                   th:text="${pageNumber + 1}">
                   ></a>
            </li>

            <th:block th:if="${employees.getTotalPages() >= 2 }">
                <li th:if="${employees.getTotalPages() < 2 ? 'hidden' : ''}" class="page-item"
                    th:class="${employees.isLast()} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:id="${employees.number + 1}"
                       onclick="onPageChange(this)"
                       >Next</a>
                </li>
                </th:block>
        </ul>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script>
    function onSort(column) {
        const url = window.location.href;
        const params = getQueryParams();
        const page = params.page || '0';
        const href = `/employees?&search=${params.search || ''}&page=${page}&`;
        if (url.includes(column)) {
            if (url.includes('asc')) {
                window.location.href = `${href}sort=${column},desc`;
            } else {
                window.location.href = `${href}sort=${column},asc`;
            }
        } else {
            window.location.href = `${href}sort=${column},asc`;
        }
    }
    function onPageChange(e){
        const params = getQueryParams();
         window.location.href = `/employees?&search=${params.search}&sort=${params.sort}&page=${e.id}`
    }
    function getQueryParams() {
        const url  = window.location.href;
        const queryParams = {};
        const queryString = url.split('?')[1];
        if (queryString) {
            const pairs = queryString.split('&');
            for (let i = 0; i < pairs.length; i++) {
                const pair = pairs[i].split('=');
                queryParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
            }
        }
        return queryParams;
    }
</script>
</body>
</html>